#banner
    .banner_content
        %h1 PRUDENTCAL
        %p The best Professor + Student collaborative calendar.
        %button= link_to "Sign Up", new_user_registration_path

#testimonial
    .wrapper
        %p.quote "The greatest CALENDAR application. Period."
        %p.name - Erick Kad-Bay
#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-pencil
                %h2 Notes
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illa argumenta propria videamus, cur omnia sint paria peccata. At multis se probavit.
            .callout
                %i.fa.fa-rocket
                %h2 Rocket
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illa argumenta propria videamus, cur omnia sint paria peccata. At multis se probavit.
            .callout
                %i.fa.fa-bolt
                %h2 Lightning
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illa argumenta propria videamus, cur omnia sint paria peccata. At multis se probavit.
#bottom_cta
    .wrapper
        %h2 Foh' Realz!
        %p I want to sign up... If you don't, I will find you!
        %button= link_to "Click Meee!!!", new_user_registration_path

%footer
    %p &copy; Erick Kad-Bay
