#success_banner{:style => "display: none;"}
    - if user_signed_in?
        %h3
.wrapper_with_padding
    =render 'modal'
    .button-container
        .back-btn
            %i.fa.fa-long-arrow-left
            =link_to "Back To Courses", courses_path
        .pending-button
            = link_to current_user.isProf? ? "Events pending your approval" : "Events submitted for approval", course_pending_events_path(@course.id)
            - if current_user.isProf?
                - @pending_events = count_pending_events(@course)
                -if @pending_events>0
                    .counter#in-events
                        %span #{@pending_events}
        %h1= @course.course_name
    .calendar-container
        .legend-container
            .legend
                .legend-icon#prof-icon
                %p Professor event
            .legend
                .legend-icon#student-icon
                %p Student event
            .legend
                .legend-icon#private-icon
                %p Private event
            %button.new-event-btn
                = link_to "New Event", new_course_event_path, remote: true
        #calendar
