#after_create_message{:style => "display: none;"}
    %h3 Thank you adding your event to PrudentCAL. Your event was sent to your Professor for approval.
.wrapper_with_padding
    .back-btn
        %i.fa.fa-long-arrow-left
        =link_to "Back To #{@course.course_name}", course_events_path(@course.id)
    .pending-events-container
        - if current_user.isProf
            %h1 Events pending your approval:
        -else
            %h1 Submitted events:
        - if @pending_events_list.count>0
            .course-pending-list
                .pending-event-list
                    .pending-event-title
                        %h3 Event
                    .pending-buttons
                        %h3 Status
                    - @pending_events_list.each do |event|
                        .pending-event{:id => "#{event.id}"}
                            .pending-event-title
                                =link_to "#{event.title}", course_event_path(event.course_id, event.id)
                            .pending-buttons
                                - if current_user.isProf
                                    =link_to "", approve_course_event_path(event.course_id, event.id), class: "i fa fa-check-circle-o", remote: true
                                    =link_to "", deny_course_event_path(event.course_id, event.id), class: "i fa fa-times-circle-o", remote: true
                                -else
                                    %p{:class => event.status=="Approved" ? "status-approved" : event.status=="Denied" ? "status-denied" : "status-pending" } #{event.status}
        -else
            -if current_user.isProf
                %p There are no events waiting for your approval!
            -else
                %p You haven't submitted any events yet. Try it out!
