// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#success_banner, #danger_banner{
    width: 100%;
    position: fixed;

    opacity: 0.85;
    z-index: 999;
    h3{
        color: $white;
        text-align: center;
        font-weight: 700;
    }
}

#success_banner{
    background-color: $green;
}

#danger_banner{
    background-color: $red;
}

.courses{
	padding-top: 170px;
    h1{
        text-align: center;
    	padding-bottom: 10px;
	}
}

.pending-container{
    float: right;
    padding: 10px 70px;
}

.course{
    position: relative;
    display: table;
    margin: 0 auto;
}

.notfound{
    text-align: center;
}
