$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #33CD99;

@font-face {
    font-family: 'BrandonGrotesqueBlk';
    src:font-url('BrandonGrotesque-Black.ttf');
}
@font-face {
    font-family: 'BrandonGrotesqueBold';
    src:font-url('BrandonGrotesque-Bold.ttf');
}
@font-face {
    font-family: 'BrandonGrotesqueLight';
    src:font-url('BrandonGrotesque-Light.ttf');
}
@font-face {
    font-family: 'BrandonGrotesqueMed';
    src:font-url('BrandonGrotesque-Medium.ttf');
}

@mixin bold_font {
	font-family: 'BrandonGrotesqueMed',"Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 4.5rem;
	font-family: 'BrandonGrotesqueMed',"Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

button, .button {
	border: none;
	outline: none;
	background: $green;
	padding: 1rem 3.5rem;
	border-radius: 2rem;
	a {
		color: white;
		text-decoration: none;
	}
}

.button {
	color: white;
	margin: 2rem 0;
}

a {
	color: $green;
	text-decoration: none;
	&:hover {
		color: $dark_gray;
	}
}

header {
	background: $dark_gray;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	border-bottom: 7px solid $green;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		#logo {
			display: inline-block;
			width: 10rem;
			float: left;
		}

		#logo img{
			max-height: 25px;
		}
		nav {
			float: right;
			a {
				text-decoration: none;
				color: white;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: $green;
				}
			}
		}
	}
}

footer {
	background: $dark_gray;
	width: 100%;
	padding: 2rem 0;
	color: white;
	text-align: center;
	@include bold_font;
	p {
		margin: 0;
		font-size: .85rem;
	}
}

#courses{
	padding-top: 100px;
}

.course{
	text-align: center;
	padding-bottom: 10px;
	h1{
		font-family: 'BrandonGrotesqueMed',"Helvetica Neue", Helvetica, sans-serif;
	}
}

.container{
	text-align: center;
	padding-top: 50px;
}

.form{
    padding:0px 400px;
    margin-top: -50px;
    h1{
        text-align: center;
    }
}

.event{
    text-align: center;
    padding: 100px 0;
}

.form-fields{
    .input{
        padding: 10px 0;
    }
}

.top-container{
    padding-left: 70px;
    padding-top: 30px
}

.back-btn{
    padding-left: 70px;
    margin-top: 100px;
    i{
        color:$green;
    }
    &:hover{
        text-decoration: underline;
    }
}

.calendar-container{
    padding: 0 70px 70px 70px;
    h1{
        text-align: center;
        margin-top: -35px;
    }
}

#calendar{
    padding-top: 50px;
}

.aligned-container{
    padding-left: 70px;
}

header{
    z-index: 10;
}

.event-show{
    padding-top: 100px;
    text-align: center;
}

.new-event-btn{
    float: right;
    padding: 7px 20px;
    border-radius: 20px;
    color: $green;
}

.fc-event-container a{
    background-color: $green;
    border-color: $green;
}

.datetime .optional{
    padding-right: 10px;
}

#edit-form{
    margin-top: 100px;
}

label{
    padding-right: 10px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid $light_gray;
	border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
}

textarea {
	min-height: 200px;
}
/*     BOOTSTRAP STYLE FOR THE MODAL           */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
