$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #33CD99;
$white: #FFFFFF;

@font-face {
    font-family: 'BrandonGrotesqueBlk';
    src:font-url('BrandonGrotesque-Black.ttf');
}
@font-face {
    font-family: 'BrandonGrotesqueBold';
    src:font-url('BrandonGrotesque-Bold.ttf');
}
@font-face {
    font-family: 'BrandonGrotesqueLight';
    src:font-url('BrandonGrotesque-Light.ttf');
}
@font-face {
    font-family: 'BrandonGrotesqueMed';
    src:font-url('BrandonGrotesque-Medium.ttf');
}

@mixin bold_font {
	font-family: 'BrandonGrotesqueMed',"Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
